{% extends "base.html" %}
{% block title %}Jenkins{% endblock title %}
{% block content %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title clearfix">Jenkins</h1>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Job</th>
                            <th>Status</th>
                            <th>Ultima vez</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs%}
                        <tr>
                            <td>{{job.name}}</td>
                            {% if job.color == 'blue'%}
                                <td>
                                    <img src="/static/{{job.color}}.png" alt="Icon">
                                </td>
                                <td>rodando</td>
                            {% else %}
                                <td>
                                    <img src="/static/red.png" alt="Icon">
                                </td>
                                <td>parado</td>
                            {% endif %}
                            <td>
                                <a href="/jenkins/build/{{job.name}}" class="glyphicon glyphicon-repeat"></a>
                                <a href="/jenkins/update/{{job.name}}" class="glyphicon glyphicon-pencil"></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}